body {
    background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: liner-gradient(-45deg, #1d2c41, #87c9D9, #4fa3f0, #22131a);
    background-size: 110% 110%; 
    position: relative;
    animation: backgroundChange 10s ease-in-out infinite;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@keyframes backgroundChange {
0% {
    background-position: 0 50%;
}
50% {
 background-position: 100% 50%;
}
100% {
background-position: 0 50%;
}
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.weatherBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid lightblue;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    /* background-color: */
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.locationButton {
    display: flex;
    flex-direction: row;
  }
  
  .locationButton .btn {
    margin: 10px;
  }
  